:root {
  --primary-color: #2b1887;
  --secondary-color: #2d41a7;
  --gray-color: #dddddd;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  background: url("@/assets/todoImage.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fff;
  height: 100%;
  padding: 40px;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Gray overlay with 50% opacity */
  z-index: -1;
}

.container {
  max-width: 90%;
  margin-top: 100px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.btn {
  border-radius: 8px;
  height: 38px;
  padding-inline: 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.secondary {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.btn.gray {
  background-color: var(--gray-color);
  color: var(--black-color);
}

.close-btn {
  width: 14px;
  height: 14px;
}
